/* custom font */
.font-rubik {
    font-family: 'Rubik', sans-serif;
}

.font-bebas-neue {
    font-family: 'Bebas Neue', sans-serif;
}

.font-rowdies {
    font-family: 'Rowdies', sans-serif;
}

/* custom text shadow */
.text-shadow-blue {
    text-shadow: 2px 2px 4px rgba(173, 216, 230, 0.8); 
}

.text-shadow-black {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

/* custom color */
.hover-biru:hover{
    color: rgba(26, 42, 97, 0.8);
}

.bg-gr:hover{
    background-color: #374254;
}

.background-color-blue{
    background-color: 2px 2px 4px rgba(173, 216, 230, 0.8);
}

p{
    color: #0e1424;
}

.bg-dark-blue{
    background-color: #0e1424;
}

.color-dark-blue{
    color: #0e1424;
}

.bg-blue{
    background-color: #adbbc6;
}

.color-blue{
    color: #adbbc6;
}

.color-blue{
    color: #adbbc6;
}

.bg-cream{
    background-color: #ececec;
}

.color-cream{
    color: #ececec;
}

.bg-gray{
    background-color: #374254;
}

.color-gray{
    color: #374254;
}

.custom-hover-bg:hover {
    background-color: #0e1424;
}

/* custom our product */
.product-item {
    position: relative;
    overflow: hidden;
}

.product-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.product-item:hover img {
    transform: scale(1.05); /* Memperbesar gambar saat dihover */
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Warna hitam dengan transparansi */
    transition: opacity 0.3s ease;
}

.product-item:hover .overlay {
    opacity: 1; /* Mengubah opacity overlay menjadi 1 saat dihover */
}

.product-item div {
    transition: opacity 0.3s ease;
}

.product-item:hover div {
    opacity: 1; /* Menampilkan penjelasan saat dihover */
}

.bgbiru{
    background-image: url('../assets/bliuw.jpeg');
}

.bgray{
    background-image: url('../assets/bgray.jpeg');
    background-position: top;
}

.maps{
    border-color: #0e1424;
}

@media (min-width: 768px) {
    .md-w-500 {
        width: 500px;
    }
}

@media (min-width: 768px) and (max-width: 960px) {
    #hubungi {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #hubungi-text {
        text-align-last: center;
    }

    #hubungi-ul {
        justify-content: center;
    }
}

@media (min-width: 600px) and (max-width: 766px) {
    #card-service {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Membuat grid dengan 2 kolom */
    }
}